.layout {
  display: flex;
  min-height: 100vh;
  height: max-content;
  background-image: url("../resources/bg.jpg");
  background-repeat: repeat-y;
  background-size: 125vw;
  background-position: center top;
}

.blurring {
  align-self: stretch;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  width: 100%;
}

.list-container {
  width: 88% !important;
  max-width: 80rem !important;
  margin-top: 1rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.3rem;
}

.found {
  background-color: rgba(255, 255, 122, 0.85);
}

.list-item p {
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;

}

.name-field {
  font-weight: bold;
}