.avatar-card {
  border-radius: 2px;
  box-shadow: 0 0 2px black;
  float: right;
  margin-left: 1rem;
  text-align: center;
  max-width: 30rem;
}

@media only screen and (max-width: 992px) {
  .avatar-card {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

#btn-to-top {
  display: none;
  position: fixed;
  z-index: 9999;
  font-size: 1.3rem;
  bottom: 2rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 30%;
}

.info-container {
  max-width: 1920px;
  width: 96%;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  text-align: left;
}

.main-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eef4fa;
  font-family: Helvetica, sans-serif;
}

.person-name {
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.dates {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.3rem;
}

.dates tr {
  padding-right: 1rem;
}

.description {
  color: black;
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.avatar-card .avatar {
  object-fit: contain;
  max-height: 30rem;
  align-self: center;
}

.avatar-card .card-title {
  font-weight: bold;
  font-size: 1.9rem;
}

.avatar-card .fig-caption {
  font-size: 1.2rem;
  display: table-caption;
  caption-side: bottom;
}

.images-carousel {
  background-color: #4d4d4d;
  width: 85%;
  max-width: 1920px;
}

.images-carousel .item-image {
  max-width: 80% !important;
  max-height: 32rem;
  object-fit: contain;
  display: inline-block;
  margin-top: 1rem;
  box-shadow: 0 0.2rem 5rem #1c1c1c;
}

.images-carousel .images-caption {
  margin-left: auto;
  margin-right: auto;
  position: static !important;
  font-size: 1.5rem;
  max-width: 40rem;
  width: 80%;
}

.video-container {
  width: 85%;
  max-width: 1920px;
  margin-top: 2rem;
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  height: 0;
}

.video-container .yt-video {
  position: absolute;
  height: 100%;
  width: 100%;
}

.y-maps {
  width: 85% !important;
  max-width: 1920px !important;
  height: 30rem !important;
  margin-top: 2rem;
}