.navigation{
  padding: 0!important;
 background: black;
}

.navigation .nav-link{
  border-top: 3px transparent solid;
  padding-left: 2.5rem!important;
  padding-right: 2.5rem!important;
  font-family:  Roboto, sans-serif;
  font-size: 1.5rem;
  color: white;
}
.navigation .active{
  border-top: 3px white solid;
}
.navigation .lang-btn{
  padding-top: 1px;
  padding-bottom: 1px;
}
.navigation .lang{
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}